# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
venv_gpu/

# Data folders
data/
models/
logs/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Environment
.env

# FAISS / Pickle files
*.bin
*.pkl

# Redis dumps
dump.rdb

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Temp files
*.log
*.tmp
